body{
    background-color: rgb(141, 216, 216);
    font-family: Oxygen;
}



#header-nav {
	background-color: rgb(218, 117, 117);  
}

.navbar-brand,.navbar-brand:hover{
    color: white;
    font-weight: bolder;
}

h1 { 
	font-family: 'Lora', sans-serif;
	color:#ffffff;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}


#nav-list {
    margin-top: 10px;
    background-color: rgb(218, 79, 79); 
  }
  #nav-list a { 
    color: #ffffff;
    
    text-align: center;
  }
 
  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid rgb(218, 57, 57);
  }

h2{
    color: rgb(116, 116, 240);
    text-decoration: underline;
}


section h3{
    color: rgb(245, 234, 89);
    font-weight: bolder;
}

section a{
    color: rgb(245, 234, 89);
}

div.sectiontxt{
	margin: 10px;
	background: #006080;
	color: #e6f9ff;
	padding: 15px;
}

.sectiontxt a {
	color: #ffcc00;
}

.sectiontxt a:hover {
	color: #ff9900;
}

@media (min-width: 1200px) {
    .navbar-brand h1 {font-size: 2em;}
    h2 { font-size: 1.8em; }
    h3 { font-size: 1.5em; }
    }
    
    /********** Medium devices only **********/
    @media (min-width: 992px) and (max-width: 1199px) { 
    .navbar-brand h1 {font-size: 1.8em;}
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.3em; }
    }
    
    /********** Small devices only **********/
    @media (min-width: 768px) and (max-width: 991px) { 
    .navbar-brand h1 {font-size: 1.5em;}
    h2 { font-size: 1.3em; }
    h3 { font-size: 1.1em; }
    }
    
    /********** Extra small devices only **********/
    @media (max-width: 767px) { 
    .navbar-brand h1 {font-size: 1.5em;} 
    h2 { font-size: 1.3em; }
    h3 { font-size: 1.1em; }
    }